
.country.England {
	fill: #00C9A7;
}

.country.Scotland {
	fill: #008E9B;
}

.country.Wales {
	fill: #8AB861;
}

.country.Northern.Ireland {
	fill: #845EC2;
}

.country.Ireland {
	fill: lightgrey;
}

.country {
	stroke: black;
	stroke-width: 0.1px;
}

.country:hover {
	stroke-width: 0.5px;
}

