body { 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}

.header {
	display: flex;
}

.main {
	display: flex;
}

.header-container {
	flex: 50%;
  	height: 25px;
}

.area-title-container {
	height: 50px;
	width: 100%;
	font-size: 20px;
	line-height: 50px;
	padding-left: 40px;

}

.ov-container {
	width: 100%;
	height: 100%;
}

.ov-image {
	max-width:100%;
	max-height:100%;
}

.ov-blurb {
	text-align: center;
	line-height: 200px;
	height: 200px;
	width: 100%;
	font-size: 15px;
	color: #7C7C7C;
}

.ts-container {
	height: 300px;
	width: 100%;
}

.ts-plot {
	height: 100%;
	width: 100%;
}

.ts-plot-content {
	fill: none;
    stroke-width: 1px;
}

.ts-plot-content.summary.between {
	stroke: #cfcfcf;
}

.ts-plot-content.summary.between:hover {
	stroke: #303030;
}

.ts-plot-content.summary.within {
	stroke: #cfcfcf;
}

.ts-plot-content.summary.within:hover {
	stroke: #303030;
}

.ts-plot-content.within {
    stroke: #00A4DE;
}

.ts-plot-content.between {
    stroke: #4E78CF;
}

.ac-plot {
	width: 100%;
  	height: 700px;
}

.link {
  fill: none;
  stroke: #A9A9A9;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .9;
}

.node {
	fill: #000;
	stroke-opacity: .2;
}

.description-text {
	width: 100%;
  	height: 600px;
  	text-align: center;
	line-height: 400px;
	font-size: 15px;
	color: #7C7C7C;
}

.image-container {
	height: 100%;
	width: 50%;
	padding: 20px;
}

.credit-image {
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}

.credits-container {
	width: 100%;
  	height: 60px;
	display: flex;
}

.main-container {
  flex: 50%;
  height: 700px;
  display: inline;
}

.area-dropdown {
	width: 100%;
  	height: 100%;
}

.main-map {
	width: 100%;
  	height: 100%;
}

.panel-button {
    background-color: white; 
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 25px;
    font-size: 12px;
}

#active-button {
	background-color: #cfcfcf;
}

.panel-button:hover {
	background-color: #cfcfcf;
}

.summary-button {
	background-color: white; 
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 25px;
    font-size: 12px;
    border-radius: 30px;
}

.summary-button:hover {
	background-color: #cfcfcf;
}

.country.England {
	fill: #6FADDB;
}

.country.Scotland {
	fill: #7499D2;
}

.country.Wales {
	fill: #8083C3;
}

.country.Northern.Ireland {
	fill: #8E6CAD;
}

.country.Ireland {
	fill: lightgrey;
}

.country {
	stroke: black;
	stroke-width: 0.1px;
}

.country:hover {
	stroke-width: 0.5px;
}

.area-selected{
	stroke: black;
	stroke-width: 0.1px;
	fill: #97003C;
}


