body { 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}

.header {
	display: flex;
}

.main {
	display: flex;
}

.header-container {
	flex: 50%;
  	height: 25px;
}

.area-title-container {
	height: 50px;
	width: 100%;
	font-size: 20px;
	line-height: 50px;
	padding-left: 40px;

}

.ts-container {
	height: 350px;
	width: 100%;
}

.ts-plot {
	height: 100%;
	width: 100%;
}

.ts-plot-content {
	fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.main-container {
  flex: 50%;
  height: 800px;
  display: inline;
}

.area-dropdown {
	width: 100%;
  	height: 100%;
}

.main-map {
	width: 100%;
  	height: 100%;
}

.panel-button {
    background-color: white; /* Green */
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 25px;
    font-size: 12px;
}

.panel-button:hover {
	background-color: #cfcfcf;
}